__pycache__

# data
data/data_retouche
data/data_labo
data/*_item.csv
data/data_ancien
data/*.zip
data/real_data
data/data_real
data/images_to_predict

# random_search experiments
logs/random_search_adv*/adv*

# test de yanis
test_paths.txt

# latex aux files
/report/*
!/report/*.tex
!/report/*.pdf
!/report/ref.bib